
<div class="container-fluid bg-custom-1 text-light footer wow fadeIn" data-wow-delay="0.1s">
	<div class="container py-5 px-lg-5">
		<div class="row g-5">
			<div class="col-md-6 col-lg-6">
				<p class="section-title text-white h5 mb-4">Kontak Kami<span></span></p>
				<p><i class="fa fa-phone-alt me-3"></i>+62-21-3926772 - 3926775</p>
				<p><i class="fa fa-envelope me-3"></i>customerservice.ptpr@pertamina.com</p>
				<p></i>Pertamina Call Center : <i class="fa fa-phone-alt me-1"> </i><b>135</b></p>
				<div class="d-flex pt-2">
					<a class="btn btn-outline-light btn-social" href=""><i class="fab fa-twitter"></i></a>
					<a class="btn btn-outline-light btn-social" href=""><i class="fab fa-facebook-f"></i></a>
					<a class="btn btn-outline-light btn-social" href=""><i class="fab fa-instagram"></i></a>
					<a class="btn btn-outline-light btn-social" href=""><i class="fab fa-linkedin-in"></i></a>
				</div>
			</div>
			<div class="col-md-6 col-lg-6">
				<p class="section-title text-white h5 mb-4">Head Office<span></span></p>
				<p>
					<b><i class="fa fa-map-marker-alt me-3"></i>Gedung Grha Pertamina </b> Lantai 10-11, <br />
					Jl. Medan Merdeka Tim. No.11-13, RT.6/RW.1, Gambir, Kecamatan Gambir,
					Kota Jakarta Pusat,<br /> Daerah Khusus Ibukota Jakarta - 10110
				</p>
			</div>

		</div>
	</div>
	<div class="container px-lg-5">
		<div class="copyright">
			<div class="row">
				<div class="col-md-6 text-center text-md-start mb-3 mb-md-0">
					&copy;<a class="border-bottom" href="#">MitraKU</a> by <i>ICT Pertamina Retail</i>, All Right Reserved.
					Designed: <b>HTML Codex</b>
				</div>
				<div class="col-md-6 text-center text-md-end">
					<div class="footer-menu">
						<a href="">Home</a>
						<a href="">Cookies</a>
						<a href="">Help</a>
						<a href="">FQAs</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>